*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

ul {
  list-style: none;
}

:root {
  font-size: calc(0.8em + 1vw);
}

.container-fluid {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.d-table {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.d-tr {
  display: table-row;
}

.d-td,
.d-th {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.d-th {
  background-color: #ddd;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: auto;
}

.modal__dialog {
  margin: 2rem auto;
  padding: .5rem;
  max-width: 500px;
  border-radius: 5px;
  background-color: #4257B2;
}

.modal__header {
  position: relative;
}

.modal__title {
  font-size: 1.7rem;
  line-height: 1.5;
  color: #fff;
  text-align: center;
}

.modal-bag .modal__dialog {
  width: 90vw;
  max-width: 1200px;
  background-color: #fff;
}

.modal-bag .modal__title {
  color: #333;
}

.btn {
  padding: .4rem .8em;
  font-weight: bold;
  font-size: .6rem;
  border-radius: 5px;
  border: 2px solid #239191 ;
  background-color: #34cdcd;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.btn:hover,
.btn:active {
  border: 2px solid #1d7e7e;
  background-color: #28A7A7;
}

.btn-close {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  border-color: #fff;
}

.btn__clear {
  background-color: #f13819;
  border-color: #c93e1c;
}

.btn__clear:hover,
.btn__clear:active {
  background-color: #f24e33;
  border-color: #cb4c2e;
}

.header {
  position: relative;
  left: 0;
  top: -.5rem;
  padding: .7rem 0 .2rem;
  background-color: #4257B2;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.5);
  z-index: 5;
  transition: 0.3s;
}

.header:hover {
  top: 0;
  padding: .7rem 0;
  z-index: 1;
}

.header-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  display: block;
  width: 2rem;
  height: auto;
  border-radius: 50%;
}

.login {
  position: relative;
}

.login__nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login__nav .btn {
  margin-right: 1rem;
}

.login-form {
  color: #fff;
  font-weight: bold;
}

.form-group {
  display: flex;
  flex-flow: column nowrap;
  padding: .5rem 0;
}

.form-group input {
  padding: .3rem .15rem;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: none;
}

.form-group input:focus {
  box-shadow: 0 0 5px 2px rgba(29, 64, 255, 0.7);
}

.form-group label {
  padding: .2rem 0;
}


.card-list input[type="checkbox"],
.card-list label {
  cursor: pointer;
}

.card-list__item:nth-child(odd) {
  background-color: #f4f2f2;
}


.content-list__item {
  border: 1px solid #bbb;
}

.content-list__link {
  display: block;
  height: 100%;
  padding: .2rem .4rem;
  color: #333;
  text-decoration: none;
}

.content-list__link[href]:hover,
.content-list__link[href]:active {
  color: #000;
  background-color: #ccc;
}

.content-body img {
  width: auto;
  height: 3rem;
}


.content-control {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.content-control > * + * {
  margin-left: 1rem;
}


@media screen and (max-width: 576px) {
  .modal__dialog {
    max-width: 300px;
  }

  .btn-close {
    right: 0;
  }
}
