*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

ul {
  list-style: none;
}

:root {
  font-size: calc(0.8em + 1vw);
}

.container-fluid {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.d-table {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.d-tr {
  display: table-row;
}

.d-td,
.d-th {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.d-th {
  background-color: #ddd;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.modal__dialog {
  position: relative;
  margin: 2rem auto;
  padding: .5rem;
  max-width: 500px;
  border-radius: 5px;
  background-color: #3122e2;
}

.modal-bag .modal__dialog {
  max-width: 900px;
  background-color: #fff;
}

.btn {
  padding: .5rem 1rem;
  font-weight: bold;
  border: 2px solid;
  border-radius: 5px;
  cursor: pointer;
}

.btn__sign-in,
.btn__second {
  background-color: #3bf755;
  border-color: #26ba46;
}

.btn__sign-in:hover,
.btn__sign-in:active,
.btn__second:hover,
.btn__second:active {
  background-color: #74fb78;
  border-color: #5fd162;
}

.btn__sign-up {
  background-color: #3bf7dc;
  border-color: #26baa5;
}

.btn__sign-up:hover,
.btn__sign-up:active {
  background-color: #74fbe8;
  border-color: #5fd1c1;
}

.btn-close {
  position: absolute;
  top: -1rem;
  right: -4rem;
  color: #fff;
  border-color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
}

.btn-close:hover,
.btn-close:active {
  opacity: 0.5;
}

.btn__clear {
  background-color: #f13819;
  border-color: #c93e1c;
}

.btn__clear:hover,
.btn__clear:active {
  background-color: #f24e33;
  border-color: #cb4c2e;
}

.header {
  background-color: #3122e2;
}

.login {
  position: relative;
  padding: 1rem 0;
}

.login__nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login__nav .btn {
  margin-right: 1rem;
}

.login-form {
  color: #fff;
  font-weight: bold;
}

.form-group {
  display: flex;
  flex-flow: column nowrap;
  padding: .5rem 0;
}

.form-group input {
  padding: .3rem .15rem;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: none;
}

.form-group input:focus {
  box-shadow: 0 0 5px 2px rgba(29, 64, 255, 0.7);
}

.form-group label {
  padding: .2rem 0;
}



.main {
  position: relative;
}

.card-list input[type="checkbox"] {
  cursor: pointer;
}

.card-list__item:nth-child(even) {
  background-color: #f4f2f2;
}





.content-list__item {
  border: 1px solid #bbb;
}

.content-list__link {
  display: block;
  padding: .2rem .4rem;
  color: #333;
  text-decoration: none;
}

.content-list__link[href]:hover,
.content-list__link[href]:active {
  color: #000;
  background-color: #ccc;
}

.content-body img {
  width: auto;
  height: 3rem;
}


.content-control {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.content-control > * + * {
  margin-left: 1rem;
}


@media screen and (max-width: 576px) {
  .modal__dialog {
    max-width: 300px;
  }

  .btn-close {
    right: 0;
  }
}
